doctype 5
html
  head
    title ANT#{title}
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(href="/css/bootstrap-responsive.css",rel="stylesheet")
    style
      body {
          padding-top: 60px;
      }
  body
     div(class="navbar navbar-inverse navbar-fixed-top")
         div(class="navbar-inner")
             div(class="container")
                 a(class="brand", href="/") ANT
                 div(class="nav-collapse collapse")
                     ul(class="nav")
                         li(class="active")
                             a(href="/") Home
                         li
                             a(href="/status") Status
                         li
                             a(href="/login") Login

     block content
